$margin-lr-sm: 16px;
$margin-lr-lg: 32px;


.about_toolbar_top{
  @include lg{
    right: calc(33.33% + 15px);
  }
}

.page_about{
  --mlr: #{ $margin-lr-sm };

  .page_content{
    padding: 30px var(--mlr);
  }
  .mt_about{
    margin-top: 50px;
  }
  .pb_about{
    padding-bottom: 50px;
  }

  .about-self{
    margin-top: 40px;
    contain: layout inline-size;
    width: calc(100% - var(--mlr)*2);
  }
  .self_greet{
    font-size: 1.5rem;
    font-family: $font-secondary;
    line-height: 1;

  }
  .self_name{
    font-family: $font-primary;
    line-height: 1;
    font-size: clamp( 5rem, 60cqw, 14rem);
    margin-left: -17px;
  }
  .about_from_tw{
    --line-width: 2px;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    margin-left: 5px;
    &::before{
      content: '';
      width: calc(100% + 20px) ;
      margin-left: -3px;
      position: absolute;
      height: var(--line-width);
      background-color: var(--color-text);
      // border-radius: var(--line-width);
      position: absolute;
      top: 15px;
    }
    &::after{
      content: '';
      position: absolute;
      width: .8rem;
      height: .8rem;
      border-top: var(--line-width) solid var(--color-text);
      border-right: var(--line-width) solid var(--color-text);
      border-radius: var(--line-width);
      transform: rotate(45deg);
      top: 8px;
      right: -17px;
    }
  }

  .self_photo{
    text-align: center;
    // margin-top: 40px;
  }

  .self_photo_img{
    border: 1px solid var(--color-text);
    transform: rotate(7deg);
  }

  .self_role{
    // margin-top: 40px;
    line-height: 1.5;
    font-family: $font-secondary;
    font-size: 1.25rem;
  }

  .about_p_title{
    font-family: $font-secondary;
    font-size: 1.25rem;
    margin-bottom: 5px;
    font-weight: bold;
    line-height: 1.5;

  }

  .about_content{
    line-height: 1.5;

  }


  @include lg{
    --mlr: #{$margin-lr-lg};
    float: left;
    width: 66.66%;

    .self_intro{
      float: left;
      width: 50%;
    }
    .self_photo{
      float: right;
      width: 50%;
    }


  }
}

.section_works{
  background: var(--color-bg);
  margin: 50px 0;
  
  .works_title{
    padding: 30px 15px;
    margin: 0;
    // margin: 1rem;
    border-top: 1px solid var(--color-text-lighter);
  }
  
  .works_list{
    margin-bottom: 50px;
  }
  @include lg{
    float: right;
    width: 33.33%;
    border-left: 1px solid var(--color-text-lighter);
    margin: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    overflow: auto;
    .works_title{
      border-top: none;
    }
    .wrap_contact{
      display: none;
    }
  }
}
