.home-section-intro{
  // height: calc(100vh - 60px);
  height: 100vh;
  min-height: 500px;
  position: relative;
  h1{
    position: absolute;
    bottom: 30px;
  }
  
  @include lg {
    width: 33.33%;
    float: left;
  }
}

.home-section-works{
  border-color: var(--color-text);
  border-style: solid;
  border-top-width: 1px;
  padding-bottom: 0;
  h2{
    margin: 1rem;
  }
  @include lg {
    width: calc(33.33% - 2px);
    // width: 33.33%;
    float: left;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 0px;
    
    height: 100vh;
  }
}

.home-section-contact{
  padding-top: 80px;
  padding-bottom: 80px;
  @include lg {
    padding: 0;
    width: 33.33%;
    float: left;
    height: calc(100vh);
  }
}
.contact-msg{
  font-family: $font-secondary;
  line-height: 1.5;
  font-size: 1.25rem;
  @include lg {
    opacity: 0;
  }
}
.toolbar-contact{
  padding-top: 10px;
  text-align: center;
  @include lg {
    position: absolute;
    bottom: 15px;
    right: 15px;
    button{
      display: block;
      margin-bottom: 10px;
    }
  }
}
