.toolbar{
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
}

.home-section-intro{
  height: calc(100vh - 60px);
  min-height: 500px;
  position: relative;
  h1{
    position: absolute;
    bottom: 30px;
    .subtitle{
      font-size: 1.5rem;
      font-family: $font-secondary;
    }
  }
  .text717{
    font-size: 14rem;
    position: relative;
    display: inline-block;
    width: 100%;
    color: var(--color-text);
    text-decoration: none;
    :visited{
      color: var(--color-text);
    }
    svg{
      // width: 14rem;
      position: absolute;
      left: 0;
      bottom: 20px;
      fill: var(--color-text);
    }
  }
}

.home-section-works{
  border-top: 1px solid var(--color-text);
  padding-bottom: 0;
}
.list-works{
  margin: 0 -15px;
  li{
    border-top: 1px solid var(--color-text);
    &:last-of-type{
      border-bottom: 1px solid var(--color-text);
    }
  }
  a{
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    padding: 24px 15px;
    text-decoration: none;
    color: var(--color-text);
    &:visited{
      color: var(--color-text);
    }
  }

  .list-title{
    font-family: $font-secondary;
    font-size: 1.5rem;
    text-decoration: underline;
    line-height: 1.5;
  }
  .list-subtitle{
    color: var( --color-text-lighter);
    font-size: .9rem;
  }
  .list-note{
    color: var( --color-text-lighter);
    font-size: .9rem;
  }
}


.home-section-contact{
  padding-top: 80px;
  padding-bottom: 80px;
}
.contact-msg{
  font-family: $font-secondary;
  line-height: 1.5;
  font-size: 1.25rem;
}
.toolbar-contact{
  padding-top: 10px;
  text-align: center;
}