
$margin-lr-sm: 16px;
.page_content{
  padding: 30px $margin-lr-sm;

  @include lg{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.article_section{
  margin-bottom: 70px;
  h2{
    color: var(--color-text-lighter);
  }
  h3, h4{
    font-family: $font-secondary;
    font-weight: bold;
    line-height: 1.5;
  }
  h3{
    font-size: 1.25rem;
    margin-bottom: 5px;
    margin-top: 1rem;
  }
}

.breadcrumb{
  max-width: calc(100% - 180px);
}

.brief_card{
  border: var(--color-text) 1px solid;
  padding: 25px 15px;
  background-color:  var(--color-bg);
  margin-top: 100px;
  position: relative;
  >*:not(:last-child){
    margin-bottom: 24px;
  }
  h1{
    font-size: 2.5rem;
    line-height: 1.2;
  }
  p{
    line-height: 1.5;
  }


  @include lg {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
.brief_back_btn{
  width: 50px;
  height: 50px;
  background-color: var(--color-bg);
  border: var(--color-text) 1px solid;
  color: var(--color-text);
  font-size: 2rem;
  line-height: 50px;
  position: absolute;
  top: -40px;
  left: -10px;
  svg{
    vertical-align: text-top;
  }
}

.brief_card_tag{
  position: absolute;
  top: -40px;
  height: 28px;
  line-height: 28px;
  right: -1px;
  text-align: center;
  font-weight: bold;
  border: 1px solid var(--color-text);
  background-color: var(--color-bg);
  font-family: $font-secondary;
  padding: 5px 15px;
}

.brief_feature{
  font-family: $font-secondary;
  .brief_feature_item{
    line-height: 1.5;
    padding-left: 1rem;
    position: relative;
    margin-bottom: 1rem;
    &::before{
      content: '> ';
      position: absolute;
      left: 0;
    }
  }
}

.brief_desc::first-letter{
  font-family: $font-secondary;
  initial-letter: 2;
  margin-right: 3px;
}

.brief_tags{
  font-size: .8rem;
}

.article_p{
  line-height: 1.5;
  margin-bottom: 1rem;
  color: var(--color-text-light);
}

.article_quote{
  line-height: 1.5;
  padding: 16px 35px;
  margin-bottom: 24px;
  background-position: -3% -5%;
  margin-left: calc(0px - $margin-lr-sm);
  margin-right: calc(0px - $margin-lr-sm);
  q{
    font-style: italic;
    font-weight: lighter;
  }
  .quote_cite{
    font-family: $font-secondary;
    text-align: right;
    font-size: 0.9rem;
  }
}

.article_highlight{
  line-height: 1.5;
  padding: 20px 18px;
  margin-bottom: 24px;
  margin-left: calc(0px - $margin-lr-sm);
  margin-right: calc(0px - $margin-lr-sm);

  .highlight_p{
    font-weight: lighter;
    margin-bottom: 24px;
  }
}

.p_btns{
  text-align: center;
  margin-top: 24px;
  .btn{
    margin: 10px 5px;
  }
}

.article_divider{
  height: 30px;
  width: 150px;
  margin: 35px auto;
  background-size: 30px 30px;
  border: none;
  background-image: radial-gradient(circle, gray 1px, rgba(0, 0, 0, 0) 1px);
  
  &.article_divider--large{
    height: 60px;

  }
}

.aritcle_tags{
  text-align: center;
}

.list_feature_desc{
  color: var(--color-text-light);
}

.list_item .list_item_title{
  margin: 0;
}

.toolbar-contact{
  text-align: center;
}

.gallery_top{
  padding-top: 150px;
  padding-bottom: 250px;
  background-attachment: fixed;
}
.gallery_bottom{
  padding-top: 150px;
  padding-bottom: 200px;
  background-attachment: fixed;
}

.section_more_work{
  h2{
    margin: 1rem;
  }
  @include lg{
    width: calc(33.33% - 1px);
    float: left;
    height: 90vh;
    border-right: 1px solid var(--color-text);
    border-top: 1px solid var(--color-text);
  }
}

.section-contact{
  padding-top: 80px;
  padding-bottom: 80px;
  @include lg{
    border-top: 1px solid var(--color-text);
    padding-top: 0;
    padding-bottom: 0;
    width: 66.66%;
    float: left;
    height: 90vh;
    position: relative;
    .contact-msg{
      display: none;
    }

    .toolbar-contact{
      position: absolute;
      width: 40px;
      right: 15px;
      bottom: 250px;
      button{
        margin-bottom: 10px;
      }
    }
  }
}

.link_about{
  position: absolute;
  bottom: 30px;
  right: 10px;
}