*{
  transition-duration: 0.1s; 

  &:focus{
    outline: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-text-lighter);
    &:hover{
      background-color: var(--color-text-light);
    }
    &:active{
      background-color: var(--color-text);
    }
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
}

html{
  font-size: 18px;
  @include lg{
    font-size: 18px;
  }
}

::selection {
  background: rgba( $color-primary, .5);
}

body{
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1{
  font-family: $font-primary;
  // font-weight: 400;
  // font-style: normal;
  
}

h2{
  font-family: $font-primary;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}


a{
  color: var(--color-text);
}

button{
  cursor: pointer;
}

.clear_fix{
  clear: both;
}

.bg-grid{
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, var(--color-grid-line) 1px, transparent 1px),
    linear-gradient(to bottom, var(--color-grid-line) 1px, transparent 1px);
  background-color: var(--color-bg);
  background-position: -30px 15px;
  // outline: 1px solid var(--color-text);
}

.bg-dot{
  background-size: 30px 30px;
  background-image: radial-gradient(circle, gray 1px, rgba(0, 0, 0, 0) 1px);
  background-color: var(--color-bg);
  // outline: 1px solid var(--color-text);
}

.btn-round-icon, .btn_primary{
  background-color: var(--color-bg);
  border: 1px solid var(--color-text);
  color: var(--color-text);
  border-radius: 120px;
  text-decoration: none;
  margin: 0 5px;
  display: inline-block;
  svg{
    font-size: 1.5rem;
  }

  &:hover, &:focus{
    background-color: var(--color-btn-bg-hover);
  }
  &:active{
    background-color: var(--color-btn-bg-active);
  }
}


.btn-round-icon{
  width: 40px;
  height: 40px;
  &:hover, &:focus{
    background-color: var(--color-btn-bg-hover);
    svg{
      // transform: rotate(-15deg) scale(1.1);
    } 
  }
}

.btn_primary{
  padding: 12px 22px;
  font-size: .9rem;
}

.text--center{
  text-align: center;
}

.list{
  .list_item{
    border-top: 1px solid var(--color-text);
    position: relative;
    padding: 24px 15px;
    line-height: 1.5;
    &:last-of-type{
      border-bottom: 1px solid var(--color-text);
    }

    img{
      max-width: 100%;
      margin-top: 18px;
      border: 1px solid var(--color-text);
    }
  }
}

.hover-reveal {
	position: absolute;
	z-index: -1;
	height: 220px;
	width: 320px;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
}

.hover-reveal__inner {
	overflow: hidden;
}

.hover-reveal__inner,
.hover-reveal__img {
	width: 100%;
	height: 100%;
	position: relative;
}

.hover-reveal__img {
	background-size: cover;
	background-position: 50% 50%;
}
