
@keyframes text-shake {
  0% {
    transform: skew(0.5deg, 0deg);
  }
  30% {
    transform: skew(0deg, 0.5deg);
  }
  60%{
    transform: skew(0.5deg, 0deg);
  }
  80% {
    transform: skew(0deg,0deg);
  }
  100% {
    transform: skew(0.5deg, 0deg);
  }
}