$color-primary: orange;
$color-secondary: teal;
$color-text-dark: rgba(0,0,0,0.9);
$color-text-light: rgba(255,255,255,0.9);
$color-bg-dark: #222;
$color-bg-light: #fff;

$font-primary: "Kranky", "Abhaya Libre", Helvetica, Arial;
$font-secondary: "Abhaya Libre", Helvetica, Arial;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

$shadow-block: 1px 1px 2px var(--color-text-lighter);

:root {
	--color-text-alt: hsl(1deg 69% 50%);
	--color-link: #000;
	--color-link-hover: #000;
	/* Column/item variables */
	--ratio: 0.75; 				/* image ratio */
	--justify: center;	/* spread columns or center */
	--gap: 3vw;				/* column gap and margin for items */
	--rotation: 0deg;			/* section rotation */
	--radius: 0px;				/* image border radius */
	--offset: -30vh;			/* offset of even columns */
	/* content section */
	--radius-small: 4px; 		/* border radius of small images */
}

.dark-mode{
  --color-text: #{ $color-text-light };
  --color-text-light: #{ darken($color-bg-light, 40%) };
  --color-text-lighter: #{ darken($color-bg-light, 50%) };
  --color-bg: #{ $color-bg-dark };
  --color-grid-line: rgb(75, 75, 75);

  --color-btn-bg-hover: #{ lighten($color-bg-dark, 20%)};
  --color-btn-bg-active: #{ lighten($color-bg-dark, 30%)};
}

.light-mode{
  --color-text: #{ $color-text-dark };
  --color-text-light: #{ lighten($color-bg-dark, 30%) };
  --color-text-lighter: #{ lighten($color-bg-dark, 50%) };
  --color-bg: #{ $color-bg-light };
  --color-grid-line: rgb(230, 230, 230);

  --color-btn-bg-hover: #{ darken($color-bg-light, 10%)};
  --color-btn-bg-active: #{ darken($color-bg-light, 20%)};
  
}


// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

// Hover devices
@mixin hover {
  @media (hover: hover) {
    @content;
  }
}